.container{
  background-color: gray;
  width: 300px;
  height: 200px;
  margin: 5% 40%;
  text-align: center;
  border-radius: 20%;
  
}
label{
  background-color: beige;
  
}
label:hover{
  color: white;
  background-color: rgb(24, 68, 17);
  border-radius: 20%;
}
input{
  color: blue;
}
h1{
  background-color: blanchedalmond;
}
button:hover{
    color: white;
    background-color: black;
    transition: all 0.2s ease-in;
    border-radius: 20%;
}
button{
  border-radius: 20%;
  
}
input{
  border-radius: 15%;

}
